
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

@keyframes typing5-1 {
  0%{width: 0 ;}
  23%{ width: 15em ;}
  46%{ width: 15em ;}
  69%{ width: 15em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-2 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 15em ;}
  69%{ width: 15em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-3 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 0 ;}
  69%{ width: 15em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-4 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 0 ;}
  69%{ width: 0em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-5 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 0 ;}
  69%{ width: 0em ;}
  99%{ width: 0em ;}
}
#fengshui h4{
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 5px 0;
}
#fengshui h4 {
  width: 15em;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'cwTeXFangSong', serif;
}

#fengshui .typ5-1{
	animation: typing5-1 4s steps(15);
}
#fengshui .typ5-2{
	animation: typing5-2 4s steps(15);
}
#fengshui .typ5-3{
	animation: typing5-3 4s steps(15);
}
#fengshui .typ5-4{
	animation: typing5-4 4s steps(15);
}
#fengshui .typ5-5{
	animation: typing5-5 4s steps(15);
}

#fengshui  .level{
	font-size: 2.5em;
	line-height: 3em;
	width: 6em;
}
@media all and (max-width: 645px) {
	#fengshui a{
		display: none;
	}
	#fengshui h4{
	font-size: 1em;
	line-height: 1.2em;
	margin: 0;
	}
	#fengshui  .level{
	font-size: 2em;
	line-height: 2.2em;
	position: relative;
	top: -1em;
	float: right;
	text-align: end;
	}
}
#history {
     overflow: scroll;
}
