@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url('https://fonts.googleapis.com/css?family=Bellefair');

svg {
  display: block;
}
path{
  fill:#b52c2e;
}

#loader {
  position: relative;
  left: 35%;
  top: 20%;
  z-index: 50;
  height: 80%;
  width: 80%;
  margin: -75px 0 0 -75px;


  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(500px) }
    50% { -webkit-transform: perspective(500px) rotateY(180deg) }
    100% { -webkit-transform: perspective(500px) rotateY(180deg)  }
  }

  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(200px) rotateY(180deg);
      -webkit-transform: perspective(200px) rotateY(180deg) 
    } 50% { 
      transform: perspective(200px) rotateY(0deg);
      -webkit-transform: perspective(200px) rotateY(0deg) 
    } 100% { 
      transform: perspective(200px) rotateY(-180deg) ;
      -webkit-transform: perspective(200px)rotateY(-180deg);
    }
  }


@media all and (max-width: 645px) {
  #loader {
    position: relative;
    left: 10%;
    top: 10%;
    z-index: 50;
    height: 85%;
    width: 85%;
    margin: 0;
  }
}

#fengshui h4{
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 5px 0;
  width: 16em;
  font-family: 'cwTeXFangSong', serif;
}
#fengshui h4.en{
  font-size: 1.2em;
  width: 18em;
  font-family: 'Bellefair','PT Sans Narrow', sans-serif;
}

#fengshui  .level{
  font-size: 2.5em;
  line-height: 3em;
  width: 3em;
  z-index: 1000;
}
#fengshui  .level.en{
  font-size: 2em;
  line-height: 3em;
  width: 4.5em;
}
@media all and (max-width: 900px) {
  #fengshui h4{
    font-size: 1.2em;
  }
  #fengshui h4.en{
    font-size: 1.1em;
    width: 16em;
  }
}
@media all and (max-width: 645px) {
  #fengshui a{
    display: none;
  }
  #fengshui h4{
  font-size: 1em;
  line-height: 1.2em;
  }
  #fengshui h4.en{
  font-size: 1em;
  line-height: 1.2em;
  width: 20em;
  }

  #fengshui  .level{
  font-size: 2em;
  position: relative;
  top: -0.5em;
  float: right;
  text-align: end;
  }

  #fengshui  .level.en{
  font-size: 1.4em;
  width: 4.5em;
  }
}
#history {
     overflow: scroll;
}
/*
@keyframes typing5-1 {
  0%{width: 0 ;}
  23%{ width: 15em ;}
  46%{ width: 15em ;}
  69%{ width: 15em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-2 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 15em ;}
  69%{ width: 15em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-3 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 0 ;}
  69%{ width: 15em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-4 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 0 ;}
  69%{ width: 0em ;}
  92%{ width: 15em ;}
}
@keyframes typing5-5 {
  0%{width: 0 ;}
  23%{ width: 0 ;}
  46%{ width: 0 ;}
  69%{ width: 0em ;}
  99%{ width: 0em ;}
}
#fengshui .typ5-1{
  animation: typing5-1 4s steps(15);
}
#fengshui .typ5-2{
  animation: typing5-2 4s steps(15);
}
#fengshui .typ5-3{
  animation: typing5-3 4s steps(15);
}
#fengshui .typ5-4{
  animation: typing5-4 4s steps(15);
}
#fengshui .typ5-5{
  animation: typing5-5 4s steps(15);
}
*/
