/*
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
*/

/*
.col1-8row1-12{
    width: %;
    height: 400px;
    background-color: grey;
}*/

#fengshui {
    background-color: darkgray;
}

#history {
    background-color: darkgray;
}

