#goods{
	background-color:#FFFFFF;
	padding-left:5vw;
	padding-right:5vw;
}
#row1{
	margin-top:5vh;
	padding-left:1vw;
}
#row2{
	padding-top:2vh;
	padding-bottom:5vh;
}
.column{
	padding:0 0 0 5vw;
}
#goods-pic{
	padding-right:5vw;
	padding-left:5vw;
}
#goods-graph{
	padding-left:5vw;
}
#goods-fs{
	padding-left:5vw;
}
#goods-name{
	padding:2vh 0 5vh 2vw;
}
#goods-info{
	padding:2vh 0 5vh 2vw;
}