/****login*****/
.column {
	display: flex;
    flex-direction: column;
}

.fillin {
	margin: 0 5vw 5vh 5vw;
	padding: 10px;
	width: 500px;
}

.fillin div{
	margin: 5px 0;
	padding: 0 0 5px 5px;
}

.btn{
	text-align: center;
}

.textcenter {
	text-align: center;
}

.sign-up a {
	text-decoration: none;
	color: tomato;
	border-bottom: 2px solid #44677B;
}
.fillin button {
	float: right;
}
@media all and (max-width: 645px) {
	.fillin {
		width: 90%;
	}
}

.form .name {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}

.form .name > div {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}


.form label {
	margin: 5px;
	margin-top: 0; 
	padding: 3px;
	padding-top: 0;
}