@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
	padding: 0;
	list-style: none;

}

html {
	margin:0;
	padding:0;
	width: 100vw;
}

body {
	margin: 0;
	background: rgba(182, 182, 182, 1);
	color: rgba(53, 53, 53, 1);
	text-rendering: optimizeLegibility;
	width: 100vw;
}

a {
	color: rgba(53, 53, 53, 1);
}

a:hover, a:focus {
	color: #fff;
}

#header{
    background: rgba(10, 10, 10, 0.9);
    border-bottom: 2px solid;
	border-bottom-color: rgba(20, 20, 20, 0.4);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 120%;
    z-index: 99999;
    height: auto;
    display: block;

}

.container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

div.header.container {
	width: 100vw;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

.logo a {
	font-size: 26px;
	color: #fff;
	line-height: 26px;
	margin: 4px 0 0;
	font-weight: bold;
	text-decoration: none;
}

.me_hd a {
	font-size: 20px;
	color: #fff;
	line-height: 26px;
	margin: 4px 0 0;
	text-decoration: none;
}

.logo a:hover {
	color: rgba(225, 200, 100, 1);
}

.me_hd a:hover {
	color: rgba(225, 200, 100, 1);
}

.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
	display: flex;
	justify-content: flex-start;
}


.nav > li {
    position: relative;
    display: inline;
}

.nav > li > a {
    position: relative;
    padding: 10px 15px;
}

.menuleft {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}

.menuright {
	width: 50%;
	float: right;
	position: relative;
	min-height: 1px;
	margin-left:-15px;
	padding-right: 15px;
	padding-left: 15px;

}

.mainmenu {
	position:relative;
	margin-left:-15px;
}

.active a{
	color: tomato;
}

/*section*/
.full-section {
    height: 100vh;
    position: relative;
    background-size: contain;
    background-position: center;
    margin-top: 40px;
}

/****signup*****/
.row{
	margin: 10px;
	height: 70%;
}
#login{
	font-size: 20px;
	padding: 20px;
    text-align: center;
}
#sign{
	padding: 5px;
    text-align: center;
}
#left{
    padding-right: 20px;
	width: 30vw;
}
#right{
	padding-left: 20px;
}
#signtext{
	text-align: center;
}
.btn{
	text-align: center;
}

/****media*****/
@media (max-width: 900px) {
	#header{
		height: auto;
		font-size: 20px;
		padding: 5px 0 15px;

	}
	div.header.container {
		padding-right: 5px;
		padding-left: 5px;
		margin-right: 0;
		margin-left: 0;
	}

	.logo a {
		font-size: 20px;
		margin: 2px 0 0;
	}

	.me_hd a {
		font-size: 18px;
		margin: 2px 0 0;
	}

	.nav > li > a {
    padding: 5px;
	}
	
	#left{
    padding-right: 20px;
	width: 55vw;
	}
	
}
@media (max-width: 350px) {
	#left{
    padding-right: 20px;
	width: 75vw;
	}
}


